.navbar{
    background: rgba(0,0, 0, 0.5);
    color: white;
    height: 52px;
}
.glyphicon{
    height: 30px;
    background:yellow;
}
.glyphicon-user{
    text-align: center;
}
.nav{
    text-align: center;
}
body{
    background-image: url(3.jpg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;

}

.panel{
background: rgba(0, 0, 0, 0.4);
color: white;
border: 0px;
text-align: center;
padding-top: 70px;
position: relative;
transition: 1s;
}
#recipe_cat{
    background: rgba(233, 147, 18, 0.4)
}
.form-contols{
    background: rgba(245, 239, 239, 0.8);
    width: 30%;
}
span{
width: 40px;
height: 40px;
line-height: 40px;
background: white;
display: inline-block;
text-align: center;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
margin-left: 10px;
-webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.432);
-moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.432);
box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.432);
}
h4{
margin: 0px;
padding: 0px;
}
.fa-facebook{
    color:#3B5998 ;
}
.fa-twitter{
    color:#1DA1F2 ;
}
.fa-google-plus{
    color:red ;
}
.lock{
    position: absolute;
    top: -50px;
    width: 100px;
    height: 114px;
    left: 37%;
    line-height: 100px;
    text-align: center;
    background:linear-gradient(darkslategray,cyan) ;
    background:-webkit-linear-gradient(darkslategray,cyan) ;
    background:-moz-linear-gradient(darkslategray,cyan) ;
    border: 3px outset rgb(201, 235, 8);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: white;
}
.panel:hover{
    background: rgba(0, 0, 0, 0.6);
}
#category{
    width: 30%;
    height: 40px;
    float: left;
    background: rgba(240, 207, 116, 0.5);
}
#recipes{
background: rgba(94, 138, 180, 0.8);
}
.affix {
    top:0;
    width: 75%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix {
   position: relative;
   top: 50px;
}
#recipe_form{
    width: 30%;
}
#add_recipe{
    background: rgba(94, 138, 180, 0.8);
}
